@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root { 
	--white:#FFF;
	--white-active:rgb(255, 255, 255, .8);
	--background:#131618;
	--maxgreenyellow: #CDE052;
	--pink: #FF2A83;
	--bluegreen: #35C8BF;
	--lightred: #FFA1A1;
	--black: #000;
	--black-active: #2A2A2A;
	--gradient-background: radial-gradient(at 0% 30%, #cde052, transparent);
	--background-radial-gradient: radial-gradient(at 0% 30%, rgb(205, 224, 82) 10px, rgba(205, 224, 82, 1),);
	--gradient:  linear-gradient(51deg, rgba(255,161,161,1) 0%, rgba(237,209,205,1) 41%, rgba(205,224,82,1) 100%);
	--ease-in: cubic-bezier(.755,.05,.855,.06);
	--ease-out: cubic-bezier(.23,1,.32,1);
	--ease-in-out: cubic-bezier(.86,0,.07,1);
	--ease-in-quart: cubic-bezier(.5,0,.75,0);
	--ease-out-quart: cubic-bezier(.175,.79,.38,.905);
}

#loader .maxgreenyellow-bg,
#loader .grey-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: var(--maxgreenyellow);
  z-index: 1;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(-45deg);
}

#page-to-page .grey-bg {
  z-index: 2;
  background-color: var(--background);
}

body {
	cursor: none;
	font-weight: 200;
	font-style: normal;
	display: flex;
	background-color: var(--background);
	overflow-x: hidden;
}

h1  {
	color: var(--white);
	font-size: 24vw;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: -0.12em;
	text-transform: uppercase;
}

h2 {
	color: var(--white);
	font-size: 68px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 95%;
	letter-spacing: -.1em;
}

h3 {
	color: var(--white);
	font-size: clamp(.91rem, 1.7vw, 1.3rem);
	font-weight: 100;
	letter-spacing: .04em;
	line-height: 1.5em;
}

h4 {
	color: var(--white);
	font-size: clamp(.8rem, 1.2vw, 1rem);
	font-weight: 200;
	letter-spacing: .08em;
}

h5 {
	color: var(--white);
	font-size: clamp(1.3rem, 2.4vw, 2.5rem);
	font-weight: 900;
	text-transform: uppercase;
	line-height: 104%;
	letter-spacing: -.03em;
}

.bg {
	position: absolute;
	z-index: -25;
	overflow: hidden;
	width: 100%;
	height: 1560px;
}
.bg-services {
	position: absolute;
	z-index: -25;
	overflow: hidden;
	width: 100%;
}

.bg-contact {
	position: absolute;
	z-index: -25;
	width: 100%;
}
.bg-desktop {
	z-index: -25;
	overflow: hidden;
	width: 100%;
}
#bg-one {	
	margin-top: 60vh;
	margin-left: -130px;
}
#bg-two {
	margin-left: 70vw;
	margin-top: 50vh;
	margin-bottom: 30vh;

}
#bg-desktop-four {
	position: absolute;
	display: none;
	margin-top: 60vh;
	margin-left: 20vw;
	z-index: -22;
}

#bg-four {
	height: 120px;
	width: 120px;
	margin-left: calc(50% - 60px);
}
#bg-desktop-one {
	position: absolute;
	display: none;
	margin-top: 40vh;
	margin-left: 74vw;
}
#bg-desktop-two {
	display: none;
	margin-top: 48vh;
	margin-left: -20vh;
	position: absolute;
	z-index: -20;
}
#bg-desktop-three {
	display: none;
	margin-top: 48vh;
	margin-left: 90vw;
	position: absolute;
	z-index: -21;
}

.main_button:active {
	color: var(--white-active);
}
.button:hover {
	color: var(--white-active);
	transition: .03s linear;
}


a:active {
	color: var(--white-active);
}

p {
	color: var(--white);
	font-weight: 100;
}


#header {
  font-size: 16px;
  color: var(--white);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  display: grid;
  padding-left: 2vh;
  padding-right: 2vh;
  grid-template-columns: 1fr 113px 1fr;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 30;
  mix-blend-mode: difference;
}

.header_languag {
	grid-column: 1 / 2;
}

.active-lang {
	cursor: default;
}
.default-lang {
	cursor: pointer;
}

.lang {
	position: relative;
	padding-bottom: 10px;
	padding-left: 4px;
	padding-right: 4px;
	height: 53px;
	align-items: center;
}

.active-lang > #lang-svg-En, #lang-svg-Es {
	position: absolute;
	top: 18px;
	left: 1px;
}

.default-lang > #lang-svg-En, #lang-svg-Es {
	position: absolute;
	top: 18px;
	left: 1px;
}

.default-lang > #lang-svg-En, #lang-svg-Es { 
	stroke-dasharray: 71;
	stroke-dashoffset: 71;
	transition: stroke-dashoffset .3s;
}

.default-lang:hover > #lang-svg-En,
.default-lang:hover > #lang-svg-Es {
	stroke-dashoffset: 0;
}

.default-cursor {
	cursor: default;
	display: inline;
}

.header_logo {
	text-align: center;
	height: 100%;
	grid-column: 2 / 3;
	margin-top: 1.9vw;
}
#logoANNFRO {
	fill: var(--white)
}

#logo1 {
	stroke-dasharray: 143;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s;
}

svg:hover #logo1 {
	stroke-dasharray: 143;
	stroke-dashoffset: 143;
	transition: stroke-dashoffset 1s;
}

#logo2 {
	stroke-dasharray: 149;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s;
}

svg:hover #logo2 {
	stroke-dasharray: 149;
	stroke-dashoffset: 149;
	transition: stroke-dashoffset 1s;
}
.header_nav-desktop {
	display: none;
	justify-content: flex-end;
	grid-column: 3 / 4;
	gap: 8px;
}

.header_nav-desktop a {
	display: flex;
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 4px;
	height: 100%;
}

.header_nav-desktop-svg  {
	position: absolute;
	top: 4px;
	left: 0px;
	z-index: -1;
}
.active-menu #nav-desktop-svg-about {
	stroke-dasharray: 0;
}

#nav-desktop-svg {
	stroke-dasharray: 450;
	stroke-dashoffset: 450;
	transition: stroke-dashoffset .6s;
}
a:hover #nav-desktop-svg {
	stroke-dashoffset: 0;
}

#nav-desktop-svg-about {
	stroke-dasharray: 295;
	stroke-dashoffset: 295;
	transition: stroke-dashoffset .6s;
}
a:hover #nav-desktop-svg-about {
	stroke-dashoffset: 0;
}

.header_nav-mobile {
	grid-column: 3 / 4;
}	

#menuButton {
	position: relative;
	cursor: pointer;
	font-size: 16px;  
	float: right;
	color: var(--white);
	line-height: 100%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	height: 53px;
}

#menuButton svg {
	stroke-dashoffset: 0;
	stroke-dasharray: 230;
	transition: stroke-dashoffset .6s;
	z-index: -1;
}

#menuButton.close svg {
	stroke-dasharray: 230;
	stroke-dashoffset: 230;
	transition: stroke-dashoffset .6s;
}

/* nav-mobile dropdown */

#menuItems  {
	font-size: 16px;
	color: var(--white);
	font-weight: 800;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	position: fixed;
	background: var(--black);
	border-radius: 30px;
	width: 236px;
	height: 400px;
	overflow: auto;
	right: 32px;
	top: 87px;
	z-index: 30;
}	

.menu {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 34px;
  gap: 20px;
  height: 32px;
}

#menuItems a.active-menu {
	align-items: center;
	background-image: url('../img/nav-hovermenu.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.menu_main_button {
	cursor: pointer;
	display: flex;
	position: absolute;
	width: 99%;
	top: 220px;	
	justify-content: center;
}

.sidebar {
	margin-top: 120px;
	
}

.sidebar_list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sidebar_link {
	display: block;
	margin: 12px;
	background-repeat: no-repeat;
}


.game {
	display: flex;
	position: absolute;
	width: 100%;
	height: 80%;
	z-index: 3;
	overflow: hidden;
}

.main_game {
	position: absolute;
	width: 100%;
	min-width: 800px;
	left: -26vw;
	top: 68px;
}



.main_One {
	height: 100vh;
	overflow: hidden;
}

.main_home-title {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	top: 196px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

h1.home-title::before {
	content: "Hey, ich bin";
	font-family: Geologica, sans-serif;
	font-size: 5vw;
	font-weight: 900;
	line-height: 154%;
	letter-spacing: -0.06em;
}

.main_home-title_before {
	display: none;
	font-family: Geologica, sans-serif;
	font-weight: 900;
	letter-spacing: -0.08em;
	text-align: left;
	padding-left: .7vw;
	font-size: 2.7vw;
}

.mephoto {
	position: absolute;
	width: 30vw;
	max-width: 174px;
	left: 60vw;
	top: 44vh;
}
.mephoto img {
	position: relative;
}

.mephoto svg {
	position: absolute;
	top: 0;
	left: 0;
}


.main_button{
	cursor: pointer;
	display: flex;
	position: absolute;
	margin-left: calc(50% - 94px);
	top: 74vh;
	color: var(--white);
	justify-content: center;
	z-index: 20;
}
.main_buttonSVG {
	z-index: 21;
}

.main_send-message {
	position: absolute;
	text-align: center;
	font-size: 16px;  
	top: 36px;
	font-weight: 800;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	z-index: 20;
}
#SMbuttonSVG {
	stroke-dasharray: 908;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s;
}

svg:hover #SMbuttonSVG {
	stroke-dasharray: 908;
	stroke-dashoffset: 908;
	transition: stroke-dashoffset 1s;

}

.main_Works {
	display: block;
}

.main_run {
	white-space: nowrap;
	overflow-x: hidden;
	width: 100vw;
	margin-top: 16vh;
	margin-bottom: 10vh;
	z-index: -10;
}

.main_run img {
	height: 10vw;
	min-height: 80px;
	max-height: 240px;
	max-width: none;
}

.runWORKS img {
	animation: runAnimation 5s linear infinite;
}
.runSERVICES img {
	animation: runAnimation 7s linear infinite;
}
.runCONTACT img {
	animation: runAnimation 8s linear infinite;
}

.runPROCESS img {
	animation: runAnimation 6s linear infinite;

}

@keyframes runAnimation {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%); 
	}
}
.swiper {
	margin-top: 40px;
	width: 100vw;
}

.swiper-slide {
  width: 50%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  filter: blur(6px);
  transition: transform 0.3s, filter 0.3s;
  transition-property: transform;
  transform: scale(0.8)!important;
}

.swiper-slide img {
	width: 100%;
	height: auto;
  }

.swiper-slide > h4, .swiper-slide > h3, .swiper-slide > button {
	visibility: hidden;
  }

  .swiper-slide.swiper-slide-active > h4, .swiper-slide.swiper-slide-active > h3, .swiper-slide.swiper-slide-active > button {
	visibility: visible;
  }

  .swiper-slide.swiper-slide-active {
	filter: none;
	transform: scale(1)!important;
  }

.swiper-slide button > svg {
	cursor: pointer;
}
	
.project-categoryIMG {
	display: none;
	writing-mode: vertical-rl;
	right: calc(50% - min(30vw, 320px));
	text-align: left;
	position: absolute;
	top: 0;
}
.swiper-slide img, .swiper-slide video{
	width: 324px;
	height: auto;
	left: -8px;
}

.project-category {
	margin-left: 12vw;
	padding-top: 10px;
}
.fire {
	position: absolute;
	top: 10px;
	left: -60px;
	z-index: -4;
}

@keyframes moveInCircle { 
 0% {
		transform: translateX(30px) translateY(0); /* начальное положение */
	}
	25% {
		transform: translateX(0) translateY(30px); /* положение после 25% анимации */
	}
	50% {
		transform: translateX(-30px) translateY(0); /* положение после 50% анимации */
	}
	75% {
		transform: translateX(0) translateY(-30px); /* положение после 75% анимации */
	}
	100% {
		transform: translateX(30px) translateY(0); /* конечное положение */
	}

}

.project-description {
	position: relative;
	margin-left: 12vw;
	margin-top: 48px;
}
.project-description svg {
	position: absolute;
	z-index: -4;
}
.oneProject-SVGone {
	width: 5em;
	margin-top: -1.4em;
	margin-left: 12em;
}
.oneProject-SVGtwo {
	width: 3.5em;
	margin-top: .8em;
	margin-left: -.2em;
}

.twoProject-SVGone {
	width: 1.7em;
	margin-top: -.2em;
	margin-left: 11.4em;
}

.threeProject-SVGone {
	width: 3em;
	margin-top: -2.3em;
	margin-left: 8em;
}
.fourProject-SVGone {
	width: 3.5em;
	margin-top: -2.2em;
	margin-left: 12.2em;
}
.fourProject-SVGtwo {
	width: 3em;
	margin-top: 0.7em;
	margin-left: 0.4em;
}

.project-description a {
	font-weight: 600;
	cursor: pointer;
}
.projectButtonOne {
	margin-top: 24px;
	cursor: pointer;
	font-weight: 800;
} 
	
.projectButton {
	margin-top: 24px;
	cursor: pointer;
	margin-left: 12vw;
}

.projectButtonTWO {
	display: none;
	position: absolute;
	left: max(0vw, 60px);
	top: 14vh;
	z-index: 4;
	padding: 140px 20px 10px 20px;
	animation: moveInCircle 3s linear infinite;
}


.servicesBOX {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}
.servicesBOX-one {
/* 	width: max(50%, 600px); */

	overflow: hidden;
}
.services_list {
	position: relative;
	margin-left: 75px;
	margin-top: 60px;
	padding-right: 80px;
}

#service_SVG {
	position: absolute;
	margin-top: -145px;
}

#service_SVGtwo {	
	position: absolute;
	margin-top: -59px;
	margin-left: 78px;
	stroke-width: 2px;
}
#service_SVGthree {
	display: none;
	position: absolute;
	top: 143px;
	left: 431px;
	stroke-width: 2px;
	z-index: 2;
}

.services_description {
	display: block;
	width: max(30%, 500px);
	padding: 80px 60px 10px 78px;
	align-content: flex-end;
}

.contact {
	position: relative;
	width: 100vw;
	
}
.contact button {
	font-size: 15px;
	font-weight: 700;
	line-height: 154%;
	letter-spacing: .03em;
}
.contact_button {
	cursor: pointer;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: calc(50% - 90px);
	margin-top: 14vh;
}

.buttonSVG_mail {
	position: absolute;
	display: flex;
	justify-content: center;
	top: -20px;
	z-index: 1;
}

.footerBall_Button {
	display: flex;
	justify-content: center;
	position: relative;
	top: 160px;
}

.footerBall_Button :hover {
	color: var(--black-active);
	transition: .03s linear;
}
.sidebar_item svg {
	fill: var(--white);
	transition: .03s linear;
}

.sidebar_item svg:hover {
	fill: var(--white-active);
	transition: .03s linear;
}
	
.footerBall {
	cursor: pointer;
	color: #393939;
}

.footerBallSVG {
	position: absolute;
	margin-top: -100px;
	margin-left: -14px;
	width: 56vw;
	overflow-x: hidden;
}
.arrowSVG {
	padding-top: 200px;
}

.footerlogo {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20vw;
}





.about-title {
	position: relative;
	width: 100vw;
}

.about-img {
	position: fixed;
	writing-mode: vertical-rl;
	padding-top: 10vh;
	left: -60px;
}

.about-me-SVG {
	display: none;
	position: absolute;
	width: 54vw;
	left: 5vw;
	top: 13vh;
}


.about-title-h1 {
	position: absolute;
	left: 20vw;
	top: 16vh;
}
.ball-one {
	position: absolute;
	width: clamp(28px, 6vw, 51px);
	left: 50vw;
	top: 40vh;
}

.ball-two {
	position: absolute;
	width: clamp(26px, 5vw, 56px);
	left: 70vw;
	top: 30vh;
}

.ball-three {
	position: absolute;
	width: clamp(34px, 7vw, 69px);
	left: 60vw;
	top: 22vh;
}
.about-title-SVG {
	display: none;
	position: absolute;
	font-size: 20vw;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: -.12em;
	z-index: 3;
	-webkit-text-stroke-width: .02em;
	-webkit-text-stroke-color: var(--black);
	stroke-width: .02em;
	left: 24vw;
	top: 16vh;
}
.about-description {
	position: relative;
	width: clamp(260px, 60vw, 720px);
	left: 20vw;
	padding-top: 20vh;
	top: 30vh;
}
.about-principles, .about_Skills {
	position: relative;
	width: 70vw;
	left: 21vw;
	top: 60vh;
}

.about h2 {
	font-size: clamp(2.5rem, 10vw, 116px);
}

.mephoto-about {
	position: absolute;
	width: 42vw;
	max-width: 285px;
	top: 110vh;
	right: 4vw;
	left: 40vw;
}

.mephoto-about img {
	position: relative;
}

.mephoto-about svg {
	position: absolute;
	top: 0;
	left: 0;
}


.about-p {
	width: clamp(260px, 60vw, 640px);
	padding: 4vh 0 10vh 1vw;
}

.about_skills-SVG {
	position: absolute;
	width: 36vw;
	max-width: 227px;
	padding-top: 22vh;
	left: 18vw;
}
.about_Skills {
	padding-top: 20vh;
}
.runPROCESS {
	position: relative;
	top: 68vh;
} 

.animated-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
}

.about_run {
	top: 56vh;
}






